.PokemonSquare {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 10px;
    -webkit-filter: brightness(100%);
    filter: brightness(100%);

}

.PokemonSquare:hover {
    filter: brightness(100%);
    -webkit-filter: brightness(70%);
    /* -webkit-transition: all .15s ease;
    -moz-transition: all .15s ease;
    -o-transition: all .15s ease;
    -ms-transition: all .15s ease;
    transition: all .15s ease; */
}

.PokemonSquare img {
    background-color: inherit;
    mix-blend-mode: multiply;
    border-radius: 4px;
}

    .darkMode .PokemonSquare.white img {
        mix-blend-mode: normal;
    }

.white {
    background-color: transparent;
}

.grey {
    background-color: #9b9db0;
}

.blue {
    background-color: #3444e0;
}

.red {
    background-color: #e82a43;
}

.yellow {
    background-color: #ebe128;
}

.green {
    background-color: #1db32c;
}