body {
    padding: 0;
    margin: 0;
}

.App {
    display: flex;
    flex-direction: column;
    padding: 8px;
}
.App .topBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    margin-right: 10px;
}

.App .buttons {
    margin-left: auto;
}

.Header {
    display: flex;
    flex-direction: row;
    align-items: center;
}